body{
    background-color: #EEEEEE;
    font-family: "Montserrat", sans-serif;
    line-height: 2rem;
}
h1{
    font-size: 50px;
    padding-bottom: 20px;
    color: #2D2D2D;
    font-weight: 700;
}
h2{
    font-size: 30px;
    color: #2D2D2D;
    padding: 20px;
}
h2 a{
    text-decoration: underline;
    color: #2D2D2D;
}
.navbar-toggler{
    margin: 0px;
    padding: 0px;
}
.navbar-toggler-icon{
    border: 1px solid #797676 !important;
    padding: 7px;
    width: 45px;
    height: 37px;
    border-radius: 3px;
}
.navbar-nav{
    margin-top: 0px;
    width: 100%;
}
.nav.item{
    margin: auto;
}
.nav-link{
    font-size: 22px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    text-align: center;
    color: #2D2D2D;
    height: fit-content;
    width: 250px;
}
.navbar .active{
    font-weight: bold;
    text-decoration: underline;
    text-underline-position: under;   
}
.nav-link:hover{
    color: #2D2D2D;
    text-decoration: underline;
    text-underline-position: under;
    font-weight: 800;
    line-height: 1.4em;
    vertical-align: middle;
}
.btn {
    background-color: black;
    color: white;
    border-radius: 3px;   
}
.btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}
p{
    margin-top: 0px;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
footer{
    margin: 0px;
}
footer a{
    color:black;
    text-decoration: underline;
    font-weight: bold;
}
footer i{
    font-size: 35px;
    border: 1px solid;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 15px
}
.form-control{
    background-color: #eeeeee;
    border: 0;
    border-bottom: 1px solid;
    border-radius: 0px;
}
@media (max-width: 700px) {/* Para mobile */
    h1{
        font-size: 40px;
    }
    #contacto h2{
        font-size: 20px;
        line-height: 30px;
    }
}
